## Exploratory Analysis FPC-11 Species : Rhodomonas Salina

Fifty Days of senser and actuators data from 12/12/2021 to 31/01/2022

Dataset Description : 

1: FPC11-12_12_21_to_31_01_22_light_temp_ph.csv   - file contain readings of light, temparature, and PH measurements from PBR unit FPC11

   - Light: input value

   - Temparature: Input value
   
   - PH value : Sensor Output

2: FPC11-12_12_21_to_31_01_22_productivity_efficiencycsv.csv    -  file contain calculated productivity and efficiency of the PBR sytem based on Co2 consumption

3: FPC11-13_12_21_to_31_01_22_flow_and_pressure.csv   - sensor measurements of pressure and flowrate from the PBR FPC11

In [26]:
import os   # for interacting with the operating system,  include many functions to interact with the file system
import numpy as np  # Python library used for working with arrays
import pandas as pd  #data manipulation and analysis
import matplotlib.pyplot as plt  # for visualization
from sklearn.model_selection import train_test_split   # data preprossesing - train and test split, ML algorithm package
import seaborn as sns  # for visualization
import matplotlib.pylab as plt
%matplotlib inline

In [6]:
import warnings    # to avoid warning during executions
warnings.filterwarnings("ignore")

In [22]:
#df = pandas.read_csv('hrdata.csv', 
            #index_col='Employee', 
            #parse_dates=['Hired'], 
            #header=0, 
            #names=['Employee', 'Hired','Salary', 'Sick Days'])


#print(crm_rawdata.dtypes)
#list(crm_rawdata.columns)
#crm_rawdata.columns.values.tolist()

In [19]:
fpc11_raw_data_light_temp_ph = pd.read_csv('Raw_data\FPC11-12_12_21_to_31_01_22_light_temp_ph.csv',
                                            sep=';',
                                            names=['Date_Time', 'us', 'QT','QC', 'QB', 'QR', 'QG', 'QT_corr', 'TT0', 'TT1', 'pH', 'C_PAR'])

fpc11_raw_data_light_temp_ph = fpc11_raw_data_light_temp_ph.iloc[1: , :]

In [20]:
fpc11_raw_data_light_temp_ph.head()

,Date_Time,us,QT,QC,QB,QR,QG,QT_corr,TT0,TT1,pH,C_PAR
1,12/12/2021 10:41:24,0,73.0961,100,100,100,100,-384.457,21.3,19.2444,14.9,0
2,12/12/2021 11:14:00,0,73.0557,100,100,100,100,-384.474,21.2746,19.4091,14.9,0
3,12/12/2021 11:46:36,0,73.0341,100,100,100,100,-384.491,21.4845,19.6082,14.9001,0
4,12/12/2021 12:19:12,0,73.0688,100,100,100,100,-384.508,21.3992,19.4752,14.9,0
5,12/12/2021 12:51:48,0,72.9612,100,100,100,100,-384.524,21.5431,19.6326,14.9,0

In [28]:
fpc11_raw_data_light_temp_ph.tail()

,Date_Time,us,QT,QC,QB,QR,QG,QT_corr,TT0,TT1,pH,C_PAR
2204,31/01/2022 07:39:12,0,72.9858,100,100,100,100,-421.88,21.6135,20.0899,14.9271,0
2205,31/01/2022 08:11:48,0,73.0961,100,100,100,100,-421.896,21.3811,19.6445,14.9,0
2206,31/01/2022 08:44:24,0,73.1057,100,100,100,100,-421.913,21.2822,19.5454,14.9157,0
2207,31/01/2022 09:17:00,0,73.1584,100,100,100,100,-421.931,21.1012,19.196,14.9,0
2208,31/01/2022 09:49:36,0,73.1772,100,100,100,100,-421.96,21.107,19.1386,14.9,0

In [23]:
fpc11_raw_data_light_temp_ph.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2208 entries, 1 to 2208
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date_Time  2208 non-null   object
 1   us         2208 non-null   object
 2   QT         2208 non-null   object
 3   QC         2208 non-null   object
 4   QB         2208 non-null   object
 5   QR         2208 non-null   object
 6   QG         2208 non-null   object
 7   QT_corr    2208 non-null   object
 8   TT0        2208 non-null   object
 9   TT1        2208 non-null   object
 10  pH         2208 non-null   object
 11  C_PAR      2208 non-null   object
dtypes: object(12)
memory usage: 207.1+ KB

In [27]:
print(type(fpc11_raw_data_light_temp_ph))
print(fpc11_raw_data_light_temp_ph.shape)

<class 'pandas.core.frame.DataFrame'>
(2208, 12)

In [30]:
list(fpc11_raw_data_light_temp_ph.columns)

['Date_Time',
 'us',
 'QT',
 'QC',
 'QB',
 'QR',
 'QG',
 'QT_corr',
 'TT0',
 'TT1',
 'pH',
 'C_PAR']