## Log Data Overview

In [1]:
import numpy as np
import pandas as pd
import os
import re
from datetime import date

import warnings    # to avoid warning during executions
warnings.filterwarnings("ignore")

In [2]:
# load all the file names into a list (files in the LOgData folder)
os.getcwd()
_dir_path = '../../../dataExport/LOGdata'
raw_data = os.listdir(_dir_path)
raw_data

['log_2022_4_20.csv',
 'log_2022_4_21.csv',
 'log_2022_5_18.csv',
 'log_2022_5_3.csv',
 '__LOGdata']

In [7]:
file_name = '..\..\..\dataExport\LOGdata\log_2022_5_18.csv'
log_rawDF = pd.read_csv(file_name, sep='*')

In [8]:
log_rawDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246845 entries, 0 to 1246844
Data columns (total 9 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Date_Time  1246845 non-null  object
 1   Time       1246845 non-null  int64
 2   MicroSec   1246845 non-null  int64
 3   Type       1246845 non-null  int64
 4   Unit       1246845 non-null  object
 5   Parameter  1227210 non-null  object
 6   Message    1246845 non-null  object
 7   Value1     200978 non-null   object
 8   Value2     220005 non-null   object
dtypes: int64(3), object(6)
memory usage: 85.6+ MB

In [9]:
log_rawDF['Parameter'].value_counts(dropna= False).head(50)

autoSyncMonitor     664573
T10                 209419
Arduino              92938
AutoLink             65472
AutoTemplateSync     56007
Arduino_LT1          31653
Arduino_CO2          27183
NaN                  19635
feeding              13247
calculations          8835
program               7141
T71                   5735
Reactor               4339
pneumatic             3823
harvest               1722
water                 1471
triggers              1097
T42                   1033
T61                    794
T65                    684
T72                    665
T74                    657
T53                    657
T43                    649
LEDlighting            633
T63                    627
T73                    627
T54                    627
T64                    626
T52                    623
T51                    623
Arduino2_LT72          421
Arduino2_LT71          407
Arduino2_LT65          385
Arduino2_LT73          376
Arduino2_LT74          370
RM29                   365
T42A                   364
RM15                   357
RM16                   357
RM5                    357
RM17                   357
RM2                    357
RM14                   357
RM13                   357
RM19                   357
RM7                    357
RM23                   357
RM6                    357
RM21                   357
Name: Parameter, dtype: int64

In [10]:
log_rawDF['Unit'].value_counts(dropna= False).head(50)

FPC21_AUT21                     330638
FPC23_AUT23                     325927
FFU                             240641
FPC23_FPP23                     127723
FPC14_FPP14                      18904
FPC21_FPP21                      17934
FPC12_FPP                        15230
Product                          14264
FPC24_FPP24                      11631
FPC22_FPP22                      10112
FPC11_FPP11                       9975
FPC11_AUT11                       8008
FPC12_AUT                         8007
FPC13_AUT13                       8001
FPC14_AUT14                       8000
FPC31_AUT31                       8000
FPC24_AUT24                       8000
FFP_AUTFU                         8000
FPC22_AUT22                       7999
AllComponentTanks                 7939
FFP_FFP                           6186
FPC14                             5927
docPoduction-11-TotalTime         5347
FPC22                             5055
FPC13_FPP13                       4545
FPC11                             4286
FPC21                             3971
ComponentTanks                    3847
FPC12                             3664
FPC24                             2833
FPC31_FPP31                       1722
scheduler                         1097
RawMaterialTanks                   776
RM1-TotalTime                      335
FFU_T10_RecipeRequests             324
FPC23                              315
T10-TotalTime                      303
FPC13                              257
FPC31                              240
FFU_harvestTank_DoseRequests       170
Dashboard                          169
T71-TotalTime                       81
Reactor-TotalTime                   67
FPC41                               59
FPC42                               59
docProduction                       57
cntrTankDetail                      50
ProductionTanks                     35
water-TotalTime                     31
T43A-TotalTime                      11
Name: Unit, dtype: int64

In [11]:
log_rawDF = log_rawDF.dropna(subset=['Parameter'])

In [12]:
log_rawDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1227210 entries, 0 to 1246844
Data columns (total 9 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Date_Time  1227210 non-null  object
 1   Time       1227210 non-null  int64
 2   MicroSec   1227210 non-null  int64
 3   Type       1227210 non-null  int64
 4   Unit       1227210 non-null  object
 5   Parameter  1227210 non-null  object
 6   Message    1227210 non-null  object
 7   Value1     200754 non-null   object
 8   Value2     219955 non-null   object
dtypes: int64(3), object(6)
memory usage: 93.6+ MB

In [13]:
log_rawDF['Parameter'].value_counts(dropna= False).head(50)

autoSyncMonitor     664573
T10                 209419
Arduino              92938
AutoLink             65472
AutoTemplateSync     56007
Arduino_LT1          31653
Arduino_CO2          27183
feeding              13247
calculations          8835
program               7141
T71                   5735
Reactor               4339
pneumatic             3823
harvest               1722
water                 1471
triggers              1097
T42                   1033
T61                    794
T65                    684
T72                    665
T74                    657
T53                    657
T43                    649
LEDlighting            633
T54                    627
T63                    627
T73                    627
T64                    626
T51                    623
T52                    623
Arduino2_LT72          421
Arduino2_LT71          407
Arduino2_LT65          385
Arduino2_LT73          376
Arduino2_LT74          370
RM29                   365
T42A                   364
RM23                   357
RM13                   357
RM19                   357
RM16                   357
RM2                    357
RM17                   357
RM14                   357
RM15                   357
RM5                    357
RM7                    357
RM21                   357
RM35                   357
RM22                   357
Name: Parameter, dtype: int64

In [14]:
log_rawDF['Unit'].value_counts(dropna= False).head(50)

FPC21_AUT21    330638
FPC23_AUT23    325927
FFU            240641
FPC23_FPP23    127723
FPC14_FPP14     18904
FPC21_FPP21     17934
FPC12_FPP       15230
Product         14264
FPC24_FPP24     11631
FPC22_FPP22     10112
FPC11_FPP11      9975
FPC11_AUT11      8008
FPC12_AUT        8007
FPC13_AUT13      8001
FPC31_AUT31      8000
FFP_AUTFU        8000
FPC24_AUT24      8000
FPC14_AUT14      8000
FPC22_AUT22      7999
FFP_FFP          6186
FPC14            5927
FPC22            5055
FPC13_FPP13      4545
FPC11            4286
FPC21            3971
FPC12            3664
FPC24            2833
FPC31_FPP31      1722
scheduler        1097
FPC23             315
FPC13             257
FPC31             240
FPC42              59
FPC41              59
Name: Unit, dtype: int64

In [15]:
log_type = log_rawDF['Type'].unique()
print(log_type)

[4 2 6 3 5 1]

In [16]:
log_rawDF['Type'].value_counts(dropna= False)

1    992300
2    202247
4     26247
5      3687
6      2238
3       491
Name: Type, dtype: int64

In [18]:
tmp_1 = log_rawDF.query('Type != (1)')

In [19]:
tmp_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234910 entries, 0 to 1246822
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date_Time  234910 non-null  object
 1   Time       234910 non-null  int64
 2   MicroSec   234910 non-null  int64
 3   Type       234910 non-null  int64
 4   Unit       234910 non-null  object
 5   Parameter  234910 non-null  object
 6   Message    234910 non-null  object
 7   Value1     197472 non-null  object
 8   Value2     201180 non-null  object
dtypes: int64(3), object(6)
memory usage: 17.9+ MB

In [20]:
tmp_1['Type'].value_counts(dropna= False)

2    202247
4     26247
5      3687
6      2238
3       491
Name: Type, dtype: int64

In [23]:
tmp_1 = tmp_1.query('Unit == ("FPC11", "FPC12", "FPC13", "FPC14", "FPC21", "FPC22", "FPC23", "FPC24", "FFU", "FPP", "Product", "scheduler")')

In [24]:
tmp_1.head()

,Date_Time,Time,MicroSec,Type,Unit,Parameter,Message,Value1,Value2
2,2022-5-3 9:58:4,1651564684,620695,2,FFU,T71,Dosing ended for CompWater to Tank = FFU_T10 (...,0.49878,0.49876
5,2022-5-3 10:0:0,1651564800,453243,6,FPC23,calculations,Daily PAR(mol/m),NaN,0.0
6,2022-5-3 10:0:0,1651564800,453328,6,FPC23,calculations,Daily productivity (g/m),NaN,0.0
7,2022-5-3 10:0:0,1651564800,453387,6,FPC23,calculations,Daily productivity (g),NaN,0.00
8,2022-5-3 10:0:0,1651564800,453441,6,FPC23,calculations,Daily efficiency (%),NaN,0.0

In [25]:
tmp_1['Unit'].value_counts(dropna= False)

FFU        197537
FPC14        1600
FPC22        1382
FPC21        1370
FPC11        1219
FPC12        1127
FPC24         715
FPC23         287
FPC13         257
Product        24
Name: Unit, dtype: int64

In [26]:
tmp_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205518 entries, 2 to 1246813
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date_Time  205518 non-null  object
 1   Time       205518 non-null  int64
 2   MicroSec   205518 non-null  int64
 3   Type       205518 non-null  int64
 4   Unit       205518 non-null  object
 5   Parameter  205518 non-null  object
 6   Message    205518 non-null  object
 7   Value1     197472 non-null  object
 8   Value2     200940 non-null  object
dtypes: int64(3), object(6)
memory usage: 15.7+ MB

In [27]:
log_raw = tmp_1

In [28]:
log_raw[log_raw['Type'].isnull()].index.tolist()

[]

In [29]:
log_unit = log_raw['Unit'].unique()
print(log_unit)
print(log_raw['Unit'].nunique())

['FFU' 'FPC23' 'FPC14' 'FPC22' 'FPC21' 'FPC12' 'FPC11' 'FPC24' 'FPC13'
 'Product']
10

In [31]:
print(log_raw['Type'].isna().sum())
print(log_raw['Unit'].isna().sum())
print(log_raw['Parameter'].isna().sum())

0
0
0

In [32]:
log_parameter = log_raw['Parameter'].unique()
print(log_parameter)
print(log_raw['Parameter'].nunique())

['T71' 'calculations' 'LEDlighting' 'program' 'harvest' 'Reactor' 'T10'
 'feeding' 'water' 'V55' 'V3' 'P1L' 'LT1' 'T64' 'T42' 'T53' 'T51' 'T73'
 'T74' 'T65' 'T63' 'T72' 'T52' 'T54' 'pneumatic' 'T61' 'P1R' 'P2R' 'P11'
 'T42A' 'T43' 'L1' 'L1W' 'R1' 'PTdiff_K2' 'PT1_V4' 'T55' 'P2L' 'CO2_V2'
 'T43A' 'RM29' 'RM22' 'RM21' 'RM23' 'RM5' 'V1' 'RM19' 'RM4' 'RM7' 'RM35'
 'RM6' 'RM2' 'RM15' 'RM17' 'RM13' 'RM14' 'RM16']
57

In [33]:
(log_raw['Unit']=='FPC11').value_counts()

False    204299
True       1219
Name: Unit, dtype: int64

In [34]:
log_raw.isnull().sum()

Date_Time       0
Time            0
MicroSec        0
Type            0
Unit            0
Parameter       0
Message         0
Value1       8046
Value2       4578
dtype: int64