## Log Data Overview

In [13]:
import numpy as np
import pandas as pd
import os
import re
from datetime import date

import warnings    # to avoid warning during executions
warnings.filterwarnings("ignore")

In [14]:
file_name = '..\..\..\dataExport\LOGdata\log_2022_4_20.csv'
log_rawDF = pd.read_csv(file_name, sep='*')

In [15]:
log_rawDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865668 entries, 0 to 865667
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date_Time  865668 non-null  object
 1   Time       865668 non-null  int64
 2   MicroSec   865668 non-null  int64
 3   Type       865668 non-null  int64
 4   Unit       865668 non-null  object
 5   Parameter  864368 non-null  object
 6   Message    865668 non-null  object
 7   Value1     411877 non-null  object
 8   Value2     495869 non-null  object
dtypes: int64(3), object(6)
memory usage: 59.4+ MB

In [16]:
log_rawDF['Parameter'].value_counts(dropna= False).head(50)

T10                 203861
Arduino             102024
feeding              80955
calculations         78184
AutoTemplateSync     49465
T71                  44616
program              41788
Reactor              35795
Arduino_LT1          35281
autoSyncMonitor      22618
harvest              20539
Arduino_CO2          15836
T42                  14004
water                11295
pneumatic            10844
T42A                  8392
T61                   7794
LEDlighting           7455
T65                   5890
T63                   5625
T72                   5561
T54                   5559
T52                   5548
T64                   5547
T53                   5543
T73                   5540
T51                   5533
T74                   5530
T43                   3012
NaN                   1300
P1L                    940
Arduino_TT0            826
R1                     465
Arduino2_LT64          418
Arduino2_LT74          411
Arduino2_LT73          397
Arduino1_LT54          394
Arduino2_LT65          390
PTdiff_K2              372
Arduino2_LT72          367
Arduino1_LT53          367
Arduino2_LT63          357
Arduino2_LT71          345
Arduino2_LT61          341
Arduino2_LT75          336
V61                    321
Arduino1_LT52          320
triggers               312
V3                     310
Arduino1_LT55          306
Name: Parameter, dtype: int64

In [17]:
log_rawDF['Unit'].value_counts(dropna= False).head(50)

FFU                             431123
FPC23_FPP23                      74100
FPC14                            34702
FPC22                            33366
FPC12                            24002
FPC23                            23900
FPC13                            23309
FPC11_FPP11                      22220
FPC21                            21458
FPC11                            17302
FPC22_FPP22                      15011
FPC12_FPP                        14727
FPC21_FPP21                      13912
FPC24                            12841
FPC31_AUT31                       9176
FPC23_AUT23                       8951
FPC13_FPP13                       8868
FPC13_AUT13                       8052
FFP_AUTFU                         8019
FPC12_AUT                         8012
FPC11_AUT11                       8011
FPC22_AUT22                       8011
FPC24_AUT24                       8006
FFP_FFP                           6351
FPC31                             5859
FPC21_AUT21                       5441
FPC24_FPP24                       2782
FPC31_FPP31                       2427
Product                           1450
FPC41                              777
FPC42                              777
FPC14_FPP14                        513
FPC14_AUT14                        404
FFU_T10_RecipeRequests             324
scheduler                          312
&lt;EVAL&gt;                       303
Dashboard                          168
AllComponentTanks                  148
FPP11                              134
FFU_harvestTank_DoseRequests       114
ComponentTanks                      80
docProduction                       63
FPP                                 41
ProductionTanks                     24
RawMaterialTanks                    12
docPoduction-FF-TotalTime           12
FPP21                               12
harvestTank-TotalTime                8
T71-TotalTime                        8
cntrTankDetail                       7
Name: Unit, dtype: int64

In [18]:
log_rawDF = log_rawDF.dropna(subset=['Parameter'])

In [19]:
log_rawDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 864368 entries, 0 to 865667
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date_Time  864368 non-null  object
 1   Time       864368 non-null  int64
 2   MicroSec   864368 non-null  int64
 3   Type       864368 non-null  int64
 4   Unit       864368 non-null  object
 5   Parameter  864368 non-null  object
 6   Message    864368 non-null  object
 7   Value1     411351 non-null  object
 8   Value2     495515 non-null  object
dtypes: int64(3), object(6)
memory usage: 65.9+ MB

In [20]:
log_rawDF['Parameter'].value_counts(dropna= False).head(50)

T10                 203861
Arduino             102024
feeding              80955
calculations         78184
AutoTemplateSync     49465
T71                  44616
program              41788
Reactor              35795
Arduino_LT1          35281
autoSyncMonitor      22618
harvest              20539
Arduino_CO2          15836
T42                  14004
water                11295
pneumatic            10844
T42A                  8392
T61                   7794
LEDlighting           7455
T65                   5890
T63                   5625
T72                   5561
T54                   5559
T52                   5548
T64                   5547
T53                   5543
T73                   5540
T51                   5533
T74                   5530
T43                   3012
P1L                    940
Arduino_TT0            826
R1                     465
Arduino2_LT64          418
Arduino2_LT74          411
Arduino2_LT73          397
Arduino1_LT54          394
Arduino2_LT65          390
PTdiff_K2              372
Arduino2_LT72          367
Arduino1_LT53          367
Arduino2_LT63          357
Arduino2_LT71          345
Arduino2_LT61          341
Arduino2_LT75          336
V61                    321
Arduino1_LT52          320
triggers               312
V3                     310
Arduino1_LT55          306
Arduino2_LT10          301
Name: Parameter, dtype: int64

In [21]:
log_rawDF['Unit'].value_counts(dropna= False).head(50)

FFU            431123
FPC23_FPP23     74100
FPC14           34702
FPC22           33366
FPC12           24002
FPC23           23900
FPC13           23309
FPC11_FPP11     22220
FPC21           21458
FPC11           17302
FPC22_FPP22     15011
FPC12_FPP       14727
FPC21_FPP21     13912
FPC24           12841
FPC31_AUT31      9176
FPC23_AUT23      8951
FPC13_FPP13      8868
FPC13_AUT13      8052
FFP_AUTFU        8019
FPC12_AUT        8012
FPC11_AUT11      8011
FPC22_AUT22      8011
FPC24_AUT24      8006
FFP_FFP          6351
FPC31            5859
FPC21_AUT21      5441
FPC24_FPP24      2782
FPC31_FPP31      2427
Product          1450
FPC42             777
FPC41             777
FPC14_FPP14       513
FPC14_AUT14       404
scheduler         312
FPP11             134
FPP                41
FPP21              12
FPP31               5
FPP14               2
FPP13               2
Name: Unit, dtype: int64

In [22]:
log_type = log_rawDF['Type'].unique()
print(log_type)

[4 3 2 5 6 1]

In [23]:
log_rawDF['Type'].value_counts(dropna= False)

2    516084
1    201533
4     67915
6     49397
5     18964
3     10475
Name: Type, dtype: int64

In [24]:
tmp_1 = log_rawDF.query('Type != (1)')

In [25]:
tmp_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 662835 entries, 0 to 864646
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date_Time  662835 non-null  object
 1   Time       662835 non-null  int64
 2   MicroSec   662835 non-null  int64
 3   Type       662835 non-null  int64
 4   Unit       662835 non-null  object
 5   Parameter  662835 non-null  object
 6   Message    662835 non-null  object
 7   Value1     407367 non-null  object
 8   Value2     491141 non-null  object
dtypes: int64(3), object(6)
memory usage: 50.6+ MB

In [26]:
tmp_1['Type'].value_counts(dropna= False)

2    516084
4     67915
6     49397
5     18964
3     10475
Name: Type, dtype: int64

In [27]:
tmp_1 = tmp_1.query('Unit == ("FPC11", "FPC12", "FPC13", "FPC14", "FPC21", "FPC22", "FPC23", "FPC24", "FFU", "FPP", "Product", "scheduler")')

In [28]:
tmp_1.head()

,Date_Time,Time,MicroSec,Type,Unit,Parameter,Message,Value1,Value2
6,2021-4-20 13:3:58,1618916638,271269,3,FPC14,program,step ID - Changed (new and old value),4_WaterAcid,5_empty
7,2021-4-20 13:4:1,1618916641,101959,3,FPC14,program,start at - Changed (new and old value),sellected step at...,first step
8,2021-4-20 13:4:6,1618916646,386245,3,FPC14,program,procedure running - Changed,not active,active
9,2021-4-20 13:4:7,1618916647,639887,2,FPC14,program,Program F_ThalaPseu_HalfNutr started,NaN,NaN
10,2021-4-20 13:4:7,1618916647,642814,2,FPC14,program,Step 4_WaterAcid started,NaN,NaN

In [29]:
tmp_1['Unit'].value_counts(dropna= False)

FFU        397759
FPC14       28813
FPC22       28040
FPC23       23865
FPC13       23273
FPC21       21445
FPC12       21104
FPC24       12806
FPC11       12719
Product       954
FPP            41
Name: Unit, dtype: int64

In [30]:
tmp_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 570819 entries, 6 to 863803
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date_Time  570819 non-null  object
 1   Time       570819 non-null  int64
 2   MicroSec   570819 non-null  int64
 3   Type       570819 non-null  int64
 4   Unit       570819 non-null  object
 5   Parameter  570819 non-null  object
 6   Message    570819 non-null  object
 7   Value1     407015 non-null  object
 8   Value2     485156 non-null  object
dtypes: int64(3), object(6)
memory usage: 43.6+ MB

In [31]:
log_raw = tmp_1

In [32]:
log_raw[log_raw['Type'].isnull()].index.tolist()

[]

In [34]:
log_unit = log_raw['Unit'].unique()
print(log_unit)
print(log_raw['Unit'].nunique())

['FPC14' 'FFU' 'FPC22' 'FPC21' 'FPC23' 'FPC13' 'FPC24' 'FPC11' 'Product'
 'FPC12' 'FPP']
11

In [35]:
print(log_raw['Type'].isna().sum())
print(log_raw['Unit'].isna().sum())
print(log_raw['Parameter'].isna().sum())

0
0
0

In [36]:
log_parameter = log_raw['Parameter'].unique()
print(log_parameter)
print(log_raw['Parameter'].nunique())

['program' 'T61' 'water' 'T10' 'Reactor' 'T71' 'pneumatic' 'T42A'
 'harvest' 'calculations' 'P1L' 'feeding' 'T64' 'T42' 'T53' 'T51' 'T73'
 'T74' 'T65' 'T63' 'T72' 'T52' 'T54' 'PT1_V4' 'T55' 'T43' 'LEDlighting'
 'RM29' 'RM6' 'V74' 'RM12' 'RM13' 'RM14' 'RM15' 'RM16' 'RM17' 'RM19' 'RM2'
 'RM21' 'RM22' 'RM23' 'T41A' 'T43A' 'RM35' 'RM4' 'RM5' 'RM7' 'P42' 'RM1'
 'RM30' 'V3' 'P1R' 'P2R' 'CO2_V2' 'R1' 'PTdiff_K2' 'L1W' 'P43' 'V42' 'P10'
 'V11' 'V8' 'LT1' 'RM3' 'RM11' 'RM8' 'M1' 'P2L' 'V61' 'P11' 'Recipes'
 'Products' 'L1' 'V6' 'V1' 'V72' 'chiller' 'T62' 'V71' 'V62' 'P12' 'V43'
 'L1FR' 'L1R' 'L1B' 'Arduino' 'M10' 'V63' 'RM18' 'V52' 'V64' 'PT10' 'TT0'
 'waste' 'V51' 'RM20' 'RM33']
97

In [37]:
(log_raw['Unit']=='FPC11').value_counts()

False    558100
True      12719
Name: Unit, dtype: int64

In [38]:
log_raw.isnull().sum()

Date_Time         0
Time              0
MicroSec          0
Type              0
Unit              0
Parameter         0
Message           0
Value1       163804
Value2        85663
dtype: int64