In [20]:
import sqlite3
import numpy as np
import pandas as pd
import os
import sys
import mariadb
import sqlalchemy
import warnings
warnings.filterwarnings("ignore")

In [2]:
cnx = sqlite3.connect('../../../Site_Products.db')

In [13]:
program_DF = pd.read_sql_query("SELECT ProgramID, Product, FeedVolume FROM programs", cnx)

In [14]:
# df = df.loc[~((df['salary'] == 0) | (df['age'] == 0))]
# df = df.loc[df['salary'] * df['age'] != 0]
# df.loc[(df[['a', 'b']] != 0).all(axis=1)]
program_DF = program_DF.loc[~((program_DF['FeedVolume'] == 0))]

In [15]:
program_DF.head(10)

            ProgramID                    Product  FeedVolume
0      mediumSpoeling       Lab medium 2-14-24-8       80.00
1      mediumSpoeling       Lab medium 2-14-24-8       80.00
3      mediumSpoeling       Lab medium 2-14-24-8       80.00
4            lab test                  FeedWater       14.00
5            lab test         Lab medium 10x N/P       17.50
6            lab test                  FeedWater       17.50
7            lab test  Lab medium 10xFe-microvit       21.00
8            lab test                  FeedWater       14.00
9            lab test         Lab medium 10x N/P       21.00
10  FeedHarvest_FPC21                  FeedWater        5.33

In [16]:
recipe_DF = pd.read_sql_query("SELECT prodname, compname, conc FROM recipes", cnx)

In [17]:
recipe_DF.head()

         prodname  compname    conc
0       NutrientA     NaNO3  216.08
1       NutrientA     Water  759.46
2  CleanOxidative     Water   65.00
3  CleanOxidative  Stabicip   20.00
4  CleanOxidative     MIP-C   15.00

In [21]:
def dbConn_sqlAlch():
    try:
        database_username = 'root'
        database_password = 'password'
        database_ip       = '127.0.0.1:3306'
        database_name     = 'data_dashboard'
        database_connection = sqlalchemy.create_engine('mariadb+mariadbconnector://{0}:{1}@{2}/{3}'.
                                                    format(database_username, database_password, 
                                                            database_ip, database_name))
        return database_connection
    except Exception as e: print(e)


database_connection = dbConn_sqlAlch()

In [22]:
try:
    program_DF.to_sql(con=database_connection, name='tbl_program_product', if_exists='append', index=False)
except Exception as e: print(e)

In [23]:
try:
    recipe_DF.to_sql(con=database_connection, name='tbl_recipes_product', if_exists='append', index=False)
except Exception as e: print(e)