##### Code to preprocess / Organize and clean ProviApt LOG Data

In [2]:
import numpy as np
import pandas as pd
import os
import re
from datetime import date

In [3]:
import warnings    # to avoid warning during executions
warnings.filterwarnings("ignore")

In [24]:
# append a line to previous line if its not starting in stanard format
with open('..\..\dataExport\LOGdata\log_2022_4_20.csv', 'r+', encoding="utf-8") as file:
    text = str();
    for line in file:
        if line[0:3] == "202":
            text = text + '\n';
        text = text + line.strip();
    file.seek(0);
    file.write(text);

In [112]:
file_name = '..\..\dataExport\LOGdata\log_2022_4_20.csv'
log_rawDF = pd.read_csv(file_name, sep='*')

In [113]:
log_rawDF.head()

,Date_Time,Time,MicroSec,Type,Unit,Parameter,Message,Value1,Value2
0,2021-4-20 13:0:13,1618916413,613129,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
1,2021-4-20 13:0:57,1618916457,9327,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
2,2021-4-20 13:1:38,1618916498,812633,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
3,2021-4-20 13:2:20,1618916540,214501,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
4,2021-4-20 13:3:3,1618916583,212528,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN

In [114]:
print(log_rawDF.shape)

(865668, 9)

In [115]:
print(log_rawDF.isnull().values.any())
print(log_rawDF.isnull().sum().sum())

True
824890

In [116]:
log_rawDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865668 entries, 0 to 865667
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date_Time  865668 non-null  object
 1   Time       865668 non-null  int64
 2   MicroSec   865668 non-null  int64
 3   Type       865668 non-null  int64
 4   Unit       865668 non-null  object
 5   Parameter  864368 non-null  object
 6   Message    865668 non-null  object
 7   Value1     411877 non-null  object
 8   Value2     495869 non-null  object
dtypes: int64(3), object(6)
memory usage: 59.4+ MB

In [117]:
log_rawDF['Parameter'].value_counts()

T10                 203861
Arduino             102024
feeding              80955
calculations         78184
AutoTemplateSync     49465
                     ...
waste                    2
T41                      2
T44                      2
T45                      2
V42                      2
Name: Parameter, Length: 162, dtype: int64

In [118]:
log_rawDF['Parameter'].nunique()

162

In [119]:
log_parameters = log_rawDF['Parameter'].unique()
print(log_parameters)
print(type(log_parameters))

['Arduino' 'program' 'T61' 'water' 'T10' 'Reactor' 'T71' 'pneumatic'
 'autoSyncMonitor' 'T42A' 'harvest' 'calculations' 'P1L' 'feeding' 'T64'
 'T42' 'T53' 'T51' 'T73' 'T74' 'T65' 'T63' 'T72' 'T52' 'T54' 'PT1_V4'
 'T55' 'T43' 'LEDlighting' 'RM29' 'RM6' 'V74' nan 'RM12' 'RM13' 'RM14'
 'RM15' 'RM16' 'RM17' 'RM19' 'RM2' 'RM21' 'RM22' 'RM23' 'T41A' 'T43A'
 'RM35' 'RM4' 'RM5' 'RM7' 'P42' 'RM1' 'RM30' 'Arduino_QG' 'Arduino_pH'
 'V3' 'P1R' 'P2R' 'CO2_V2' 'R1' 'PTdiff_K2' 'L1W' 'Arduino_TT1'
 'Arduino_LT1' 'Arduino1_LT52' 'Arduino2_LT72' 'Arduino1_LT41'
 'Arduino2_LT61' 'AutoLink' 'P43' 'V42' 'P10' 'V11' 'V8' 'LT1' 'RM3'
 'RM11' 'RM8' 'M1' 'P2L' 'V61' 'P11' 'Recipes' 'Products' 'L1' 'V6' 'V1'
 'V72' 'chiller' 'T62' 'V71' 'V62' 'P12' 'V43' 'L1FR' 'L1R' 'L1B' 'LT10'
 'M10' 'V63' 'RM18' 'Arduino1' 'V52' 'V64' 'PT10' 'TT0' 'waste' 'V51'
 'RM20' 'RM33' 'AutoTemplateSync' 'Arduino2_LT73' 'Arduino_CO2'
 'Arduino2_LT63' 'Arduino2_LT65' 'Arduino1_LT53' 'Arduino2_LT64'
 'Arduino2_LT75' 'Arduino1_LT54' 'Arduino1_LT45' 'Arduino2_LT74'
 'Arduino1_LT55' 'Arduino2_LT10' 'Arduino2_LT71' 'Arduino_TT0'
 'Arduino1_LT42' 'Arduino1_LT43' 'Arduino1_LT51' 'Arduino2_LT62'
 'Arduino2' 'triggers' 'harvestTank' 'RM10' 'RM24' 'RM25' 'RM26' 'RM27'
 'RM28' 'RM31' 'RM32' 'RM34' 'RM36' 'RM37' 'RM38' 'RM39' 'RM40' 'RM9'
 'Arduino_QR' 'Arduino_QB' 'Arduino_QC' 'P1' 'P2' 'Arduino_PT1'
 'Arduino_PT2' 'Arduino_FT2' 'Arduino_QT' 'T75' 'T41' 'T44' 'T45'
 'Arduino1_PT10' 'Arduino1_PT11' 'Arduino2_noInUse']
<class 'numpy.ndarray'>

In [122]:
log_type = log_rawDF['Type'].unique()
print(log_type)

[4 3 2 5 6 1]

In [123]:
log_rawDF['Type'].value_counts()

2    516084
1    202503
4     67915
6     49397
5     18991
3     10778
Name: Type, dtype: int64

In [124]:
log_rawDF['Type'].isna().sum()

0

In [125]:
log_rawDF[log_rawDF['Type'].isnull()].index.tolist()

[]

In [126]:
log_unit = log_rawDF['Unit'].unique()
print(log_unit)
print(log_rawDF['Unit'].nunique())

['FPC11_FPP11' 'FPC14' 'FFU' 'FPC22' 'FPC21_AUT21' 'FPC21' 'FPC23' 'FPC13'
 'FPC24' 'FPC31' 'FPC23_FPP23' 'FPC41' 'FPC42' 'FPC11' 'Product'
 '&lt;EVAL&gt;' 'FPC21_FPP21' 'FPC13_FPP13' 'FPC24_FPP24' 'FFP_FFP'
 'FPC31_FPP31' 'FPC22_FPP22' 'FPC12' 'FPP11' 'FPC14_FPP14' 'FPP21' 'FPP13'
 'FPP14' 'FPP' 'FPC12_FPP' 'FPP31' 'docProduction' 'Dashboard' 'FFP_AUTFU'
 'FPC13_AUT13' 'FPC22_AUT22' 'FPC11_AUT11' 'FPC12_AUT' 'FPC31_AUT31'
 'FPC24_AUT24' 'FPC23_AUT23' 'FFU_harvestTank_DoseRequests'
 'FFU_T10_RecipeRequests' 'scheduler' 'ProductionTanks'
 'harvestTank-TotalTime' 'water-TotalTime' 'RM36-TotalTime'
 'AllComponentTanks' 'T10-TotalTime' 'cntrTankDetail' 'T71-TotalTime'
 'RM14-TotalTime' 'RM11-TotalTime' 'Reactor-TotalTime' 'RM38-TotalTime'
 'T64-TotalTime' 'RM31-TotalTime' 'RM3-TotalTime'
 'docPoduction-FF-TotalTime' 'RM37-TotalTime' 'T43A-TotalTime'
 'RM6-TotalTime' 'RM23-TotalTime' 'RM1-TotalTime' 'ComponentTanks'
 'RawMaterialTanks' 'FPC14_AUT14' 'dashboard']
69

In [127]:
print(log_rawDF['Type'].isna().sum())
print(log_rawDF['Unit'].isna().sum())
print(log_rawDF['Parameter'].isna().sum())

0
0
1300

In [128]:
log_rawDF = log_rawDF.dropna(subset=['Parameter'])
log_rawDF

,Date_Time,Time,MicroSec,Type,Unit,Parameter,Message,Value1,Value2
0,2021-4-20 13:0:13,1618916413,613129,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
1,2021-4-20 13:0:57,1618916457,9327,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
2,2021-4-20 13:1:38,1618916498,812633,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
3,2021-4-20 13:2:20,1618916540,214501,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
4,2021-4-20 13:3:3,1618916583,212528,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
...,...,...,...,...,...,...,...,...,...
865663,2022-4-20 13:0:24,1650452424,941081,1,FPC23_FPP23,Arduino,CO2 error value changed from 0.13 to 997,NaN,NaN
865664,2022-4-20 13:0:26,1650452426,155485,1,FPC23_AUT23,autoSyncMonitor,master of autoTemplateSync not found =&gt; no ...,NaN,NaN
865665,2022-4-20 13:0:26,1650452426,159772,1,FPC23_AUT23,autoSyncMonitor,Error!check autoTemplateSync template failed!,NaN,NaN
865666,2022-4-20 13:0:26,1650452426,164723,1,FPC23_AUT23,autoSyncMonitor,Timing exceeded warning level 11 &gt; 10,NaN,NaN
865667,2022-4-20 13:0:27,1650452427,935666,1,FPC23_FPP23,Arduino,CO2 error resolved from 997 to 0.13,NaN,NaN

In [129]:
print(log_rawDF['Type'].isna().sum())
print(log_rawDF['Unit'].isna().sum())
print(log_rawDF['Parameter'].isna().sum())

0
0
0

In [130]:
log_rawDF.shape

(864368, 9)

In [131]:
log_unit = log_rawDF['Unit'].unique()
print(log_unit)
print(log_rawDF['Unit'].nunique())

['FPC11_FPP11' 'FPC14' 'FFU' 'FPC22' 'FPC21_AUT21' 'FPC21' 'FPC23' 'FPC13'
 'FPC24' 'FPC31' 'FPC23_FPP23' 'FPC41' 'FPC42' 'FPC11' 'Product'
 'FPC21_FPP21' 'FPC13_FPP13' 'FPC24_FPP24' 'FFP_FFP' 'FPC31_FPP31'
 'FPC22_FPP22' 'FPC12' 'FPP11' 'FPC14_FPP14' 'FPP21' 'FPP13' 'FPP14' 'FPP'
 'FPC12_FPP' 'FPP31' 'FFP_AUTFU' 'FPC13_AUT13' 'FPC22_AUT22' 'FPC11_AUT11'
 'FPC12_AUT' 'FPC31_AUT31' 'FPC24_AUT24' 'FPC23_AUT23' 'scheduler'
 'FPC14_AUT14']
40

In [132]:
log_parameter = log_rawDF['Parameter'].unique()
print(log_parameter)
print(log_rawDF['Parameter'].nunique())

['Arduino' 'program' 'T61' 'water' 'T10' 'Reactor' 'T71' 'pneumatic'
 'autoSyncMonitor' 'T42A' 'harvest' 'calculations' 'P1L' 'feeding' 'T64'
 'T42' 'T53' 'T51' 'T73' 'T74' 'T65' 'T63' 'T72' 'T52' 'T54' 'PT1_V4'
 'T55' 'T43' 'LEDlighting' 'RM29' 'RM6' 'V74' 'RM12' 'RM13' 'RM14' 'RM15'
 'RM16' 'RM17' 'RM19' 'RM2' 'RM21' 'RM22' 'RM23' 'T41A' 'T43A' 'RM35'
 'RM4' 'RM5' 'RM7' 'P42' 'RM1' 'RM30' 'Arduino_QG' 'Arduino_pH' 'V3' 'P1R'
 'P2R' 'CO2_V2' 'R1' 'PTdiff_K2' 'L1W' 'Arduino_TT1' 'Arduino_LT1'
 'Arduino1_LT52' 'Arduino2_LT72' 'Arduino1_LT41' 'Arduino2_LT61'
 'AutoLink' 'P43' 'V42' 'P10' 'V11' 'V8' 'LT1' 'RM3' 'RM11' 'RM8' 'M1'
 'P2L' 'V61' 'P11' 'Recipes' 'Products' 'L1' 'V6' 'V1' 'V72' 'chiller'
 'T62' 'V71' 'V62' 'P12' 'V43' 'L1FR' 'L1R' 'L1B' 'LT10' 'M10' 'V63'
 'RM18' 'Arduino1' 'V52' 'V64' 'PT10' 'TT0' 'waste' 'V51' 'RM20' 'RM33'
 'AutoTemplateSync' 'Arduino2_LT73' 'Arduino_CO2' 'Arduino2_LT63'
 'Arduino2_LT65' 'Arduino1_LT53' 'Arduino2_LT64' 'Arduino2_LT75'
 'Arduino1_LT54' 'Arduino1_LT45' 'Arduino2_LT74' 'Arduino1_LT55'
 'Arduino2_LT10' 'Arduino2_LT71' 'Arduino_TT0' 'Arduino1_LT42'
 'Arduino1_LT43' 'Arduino1_LT51' 'Arduino2_LT62' 'Arduino2' 'triggers'
 'harvestTank' 'RM10' 'RM24' 'RM25' 'RM26' 'RM27' 'RM28' 'RM31' 'RM32'
 'RM34' 'RM36' 'RM37' 'RM38' 'RM39' 'RM40' 'RM9' 'Arduino_QR' 'Arduino_QB'
 'Arduino_QC' 'P1' 'P2' 'Arduino_PT1' 'Arduino_PT2' 'Arduino_FT2'
 'Arduino_QT' 'T75' 'T41' 'T44' 'T45' 'Arduino1_PT10' 'Arduino1_PT11'
 'Arduino2_noInUse']
162

In [133]:
(log_rawDF['Unit']=='FPC11').value_counts()

False    847066
True      17302
Name: Unit, dtype: int64

In [134]:
log_rawDF.isnull().sum()

Date_Time         0
Time              0
MicroSec          0
Type              0
Unit              0
Parameter         0
Message           0
Value1       453017
Value2       368853
dtype: int64

In [135]:
log_rawDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 864368 entries, 0 to 865667
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date_Time  864368 non-null  object
 1   Time       864368 non-null  int64
 2   MicroSec   864368 non-null  int64
 3   Type       864368 non-null  int64
 4   Unit       864368 non-null  object
 5   Parameter  864368 non-null  object
 6   Message    864368 non-null  object
 7   Value1     411351 non-null  object
 8   Value2     495515 non-null  object
dtypes: int64(3), object(6)
memory usage: 65.9+ MB

In [136]:
log_rawDF.to_csv(file_name, index = False, sep='*')

In [141]:
log_rawDF = pd.read_csv(file_name, sep='*')

In [140]:
log_rawDF

,Date_Time,Time,MicroSec,Type,Unit,Parameter,Message,Value1,Value2
0,2021-4-20 13:0:13,1618916413,613129,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
1,2021-4-20 13:0:57,1618916457,9327,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
2,2021-4-20 13:1:38,1618916498,812633,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
3,2021-4-20 13:2:20,1618916540,214501,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
4,2021-4-20 13:3:3,1618916583,212528,4,FPC11_FPP11,Arduino,"more than 2 communication restarts, try powerd...",NaN,NaN
...,...,...,...,...,...,...,...,...,...
864363,2022-4-20 13:0:24,1650452424,941081,1,FPC23_FPP23,Arduino,CO2 error value changed from 0.13 to 997,NaN,NaN
864364,2022-4-20 13:0:26,1650452426,155485,1,FPC23_AUT23,autoSyncMonitor,master of autoTemplateSync not found =&gt; no ...,NaN,NaN
864365,2022-4-20 13:0:26,1650452426,159772,1,FPC23_AUT23,autoSyncMonitor,Error!check autoTemplateSync template failed!,NaN,NaN
864366,2022-4-20 13:0:26,1650452426,164723,1,FPC23_AUT23,autoSyncMonitor,Timing exceeded warning level 11 &gt; 10,NaN,NaN
864367,2022-4-20 13:0:27,1650452427,935666,1,FPC23_FPP23,Arduino,CO2 error resolved from 997 to 0.13,NaN,NaN

In [138]:
log_rawDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864368 entries, 0 to 864367
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date_Time  864368 non-null  object
 1   Time       864368 non-null  int64
 2   MicroSec   864368 non-null  int64
 3   Type       864368 non-null  int64
 4   Unit       864368 non-null  object
 5   Parameter  864368 non-null  object
 6   Message    864368 non-null  object
 7   Value1     411351 non-null  object
 8   Value2     495515 non-null  object
dtypes: int64(3), object(6)
memory usage: 59.4+ MB

## Inserting Units and Parameters into mariaDb tables

In [211]:
import sys
import mariadb

In [236]:
try: con = mariadb.connect( 
    user="root", 
    password="password", 
    host="localhost", 
    port=3306, 
    database="data_dashboard" 
)

except mariadb.Error as ex: 
    print(f"An error occurred while connecting to MariaDB: {ex}") 
    sys.exit(1) 

cur = con.cursor()

In [213]:
cur.execute("SELECT unit_id, unit_name FROM tbl_unit")

In [214]:
for (unit_id, unit_name) in cur:
    print("ID:", {unit_id}, "unit_name:", {unit_name})

ID: {2} unit_name: {'FFP'}
ID: {1} unit_name: {'FFU'}
ID: {3} unit_name: {'FPC11'}
ID: {4} unit_name: {'FPC12'}
ID: {5} unit_name: {'FPC13'}
ID: {6} unit_name: {'FPC14'}
ID: {7} unit_name: {'FPC21'}
ID: {8} unit_name: {'FPC22'}
ID: {9} unit_name: {'FPC23'}
ID: {10} unit_name: {'FPC24'}

In [217]:
# inserting list of parameters into DB table : tbl_parameters
query = 'INSERT INTO tbl_log_parameters (prm_id, prm_name) VALUES (%s, %s)'
tuples = pd.Series(log_parameter)
tuples = [(index+1, value) for index, value in tuples.items()]

In [218]:
tuples

[(1, 'Arduino'),
 (2, 'program'),
 (3, 'T61'),
 (4, 'water'),
 (5, 'T10'),
 (6, 'Reactor'),
 (7, 'T71'),
 (8, 'pneumatic'),
 (9, 'autoSyncMonitor'),
 (10, 'T42A'),
 (11, 'harvest'),
 (12, 'calculations'),
 (13, 'P1L'),
 (14, 'feeding'),
 (15, 'T64'),
 (16, 'T42'),
 (17, 'T53'),
 (18, 'T51'),
 (19, 'T73'),
 (20, 'T74'),
 (21, 'T65'),
 (22, 'T63'),
 (23, 'T72'),
 (24, 'T52'),
 (25, 'T54'),
 (26, 'PT1_V4'),
 (27, 'T55'),
 (28, 'T43'),
 (29, 'LEDlighting'),
 (30, 'RM29'),
 (31, 'RM6'),
 (32, 'V74'),
 (33, 'RM12'),
 (34, 'RM13'),
 (35, 'RM14'),
 (36, 'RM15'),
 (37, 'RM16'),
 (38, 'RM17'),
 (39, 'RM19'),
 (40, 'RM2'),
 (41, 'RM21'),
 (42, 'RM22'),
 (43, 'RM23'),
 (44, 'T41A'),
 (45, 'T43A'),
 (46, 'RM35'),
 (47, 'RM4'),
 (48, 'RM5'),
 (49, 'RM7'),
 (50, 'P42'),
 (51, 'RM1'),
 (52, 'RM30'),
 (53, 'Arduino_QG'),
 (54, 'Arduino_pH'),
 (55, 'V3'),
 (56, 'P1R'),
 (57, 'P2R'),
 (58, 'CO2_V2'),
 (59, 'R1'),
 (60, 'PTdiff_K2'),
 (61, 'L1W'),
 (62, 'Arduino_TT1'),
 (63, 'Arduino_LT1'),
 (64, 'Arduino1_LT52'),
 (65, 'Arduino2_LT72'),
 (66, 'Arduino1_LT41'),
 (67, 'Arduino2_LT61'),
 (68, 'AutoLink'),
 (69, 'P43'),
 (70, 'V42'),
 (71, 'P10'),
 (72, 'V11'),
 (73, 'V8'),
 (74, 'LT1'),
 (75, 'RM3'),
 (76, 'RM11'),
 (77, 'RM8'),
 (78, 'M1'),
 (79, 'P2L'),
 (80, 'V61'),
 (81, 'P11'),
 (82, 'Recipes'),
 (83, 'Products'),
 (84, 'L1'),
 (85, 'V6'),
 (86, 'V1'),
 (87, 'V72'),
 (88, 'chiller'),
 (89, 'T62'),
 (90, 'V71'),
 (91, 'V62'),
 (92, 'P12'),
 (93, 'V43'),
 (94, 'L1FR'),
 (95, 'L1R'),
 (96, 'L1B'),
 (97, 'LT10'),
 (98, 'M10'),
 (99, 'V63'),
 (100, 'RM18'),
 (101, 'Arduino1'),
 (102, 'V52'),
 (103, 'V64'),
 (104, 'PT10'),
 (105, 'TT0'),
 (106, 'waste'),
 (107, 'V51'),
 (108, 'RM20'),
 (109, 'RM33'),
 (110, 'AutoTemplateSync'),
 (111, 'Arduino2_LT73'),
 (112, 'Arduino_CO2'),
 (113, 'Arduino2_LT63'),
 (114, 'Arduino2_LT65'),
 (115, 'Arduino1_LT53'),
 (116, 'Arduino2_LT64'),
 (117, 'Arduino2_LT75'),
 (118, 'Arduino1_LT54'),
 (119, 'Arduino1_LT45'),
 (120, 'Arduino2_LT74'),
 (121, 'Arduino1_LT55'),
 (122, 'Arduino2_LT10'),
 (123, 'Arduino2_LT71'),
 (124, 'Arduino_TT0'),
 (125, 'Arduino1_LT42'),
 (126, 'Arduino1_LT43'),
 (127, 'Arduino1_LT51'),
 (128, 'Arduino2_LT62'),
 (129, 'Arduino2'),
 (130, 'triggers'),
 (131, 'harvestTank'),
 (132, 'RM10'),
 (133, 'RM24'),
 (134, 'RM25'),
 (135, 'RM26'),
 (136, 'RM27'),
 (137, 'RM28'),
 (138, 'RM31'),
 (139, 'RM32'),
 (140, 'RM34'),
 (141, 'RM36'),
 (142, 'RM37'),
 (143, 'RM38'),
 (144, 'RM39'),
 (145, 'RM40'),
 (146, 'RM9'),
 (147, 'Arduino_QR'),
 (148, 'Arduino_QB'),
 (149, 'Arduino_QC'),
 (150, 'P1'),
 (151, 'P2'),
 (152, 'Arduino_PT1'),
 (153, 'Arduino_PT2'),
 (154, 'Arduino_FT2'),
 (155, 'Arduino_QT'),
 (156, 'T75'),
 (157, 'T41'),
 (158, 'T44'),
 (159, 'T45'),
 (160, 'Arduino1_PT10'),
 (161, 'Arduino1_PT11'),
 (162, 'Arduino2_noInUse')]

In [219]:
cur.executemany(query, tuples)

In [221]:
cur.execute("SELECT prm_id, prm_name FROM tbl_log_parameters")

In [222]:
for (prm_id, prm_name) in cur:
    print("ID:", {prm_id}, "unit_name:", {prm_name})

ID: {1} unit_name: {'Arduino'}
ID: {101} unit_name: {'Arduino1'}
ID: {66} unit_name: {'Arduino1_LT41'}
ID: {125} unit_name: {'Arduino1_LT42'}
ID: {126} unit_name: {'Arduino1_LT43'}
ID: {119} unit_name: {'Arduino1_LT45'}
ID: {127} unit_name: {'Arduino1_LT51'}
ID: {64} unit_name: {'Arduino1_LT52'}
ID: {115} unit_name: {'Arduino1_LT53'}
ID: {118} unit_name: {'Arduino1_LT54'}
ID: {121} unit_name: {'Arduino1_LT55'}
ID: {160} unit_name: {'Arduino1_PT10'}
ID: {161} unit_name: {'Arduino1_PT11'}
ID: {129} unit_name: {'Arduino2'}
ID: {122} unit_name: {'Arduino2_LT10'}
ID: {67} unit_name: {'Arduino2_LT61'}
ID: {128} unit_name: {'Arduino2_LT62'}
ID: {113} unit_name: {'Arduino2_LT63'}
ID: {116} unit_name: {'Arduino2_LT64'}
ID: {114} unit_name: {'Arduino2_LT65'}
ID: {123} unit_name: {'Arduino2_LT71'}
ID: {65} unit_name: {'Arduino2_LT72'}
ID: {111} unit_name: {'Arduino2_LT73'}
ID: {120} unit_name: {'Arduino2_LT74'}
ID: {117} unit_name: {'Arduino2_LT75'}
ID: {162} unit_name: {'Arduino2_noInUse'}
ID: {112} unit_name: {'Arduino_CO2'}
ID: {154} unit_name: {'Arduino_FT2'}
ID: {63} unit_name: {'Arduino_LT1'}
ID: {54} unit_name: {'Arduino_pH'}
ID: {152} unit_name: {'Arduino_PT1'}
ID: {153} unit_name: {'Arduino_PT2'}
ID: {148} unit_name: {'Arduino_QB'}
ID: {149} unit_name: {'Arduino_QC'}
ID: {53} unit_name: {'Arduino_QG'}
ID: {147} unit_name: {'Arduino_QR'}
ID: {155} unit_name: {'Arduino_QT'}
ID: {124} unit_name: {'Arduino_TT0'}
ID: {62} unit_name: {'Arduino_TT1'}
ID: {68} unit_name: {'AutoLink'}
ID: {9} unit_name: {'autoSyncMonitor'}
ID: {110} unit_name: {'AutoTemplateSync'}
ID: {12} unit_name: {'calculations'}
ID: {88} unit_name: {'chiller'}
ID: {58} unit_name: {'CO2_V2'}
ID: {14} unit_name: {'feeding'}
ID: {11} unit_name: {'harvest'}
ID: {131} unit_name: {'harvestTank'}
ID: {84} unit_name: {'L1'}
ID: {96} unit_name: {'L1B'}
ID: {94} unit_name: {'L1FR'}
ID: {95} unit_name: {'L1R'}
ID: {61} unit_name: {'L1W'}
ID: {29} unit_name: {'LEDlighting'}
ID: {74} unit_name: {'LT1'}
ID: {97} unit_name: {'LT10'}
ID: {78} unit_name: {'M1'}
ID: {98} unit_name: {'M10'}
ID: {150} unit_name: {'P1'}
ID: {71} unit_name: {'P10'}
ID: {81} unit_name: {'P11'}
ID: {92} unit_name: {'P12'}
ID: {13} unit_name: {'P1L'}
ID: {56} unit_name: {'P1R'}
ID: {151} unit_name: {'P2'}
ID: {79} unit_name: {'P2L'}
ID: {57} unit_name: {'P2R'}
ID: {50} unit_name: {'P42'}
ID: {69} unit_name: {'P43'}
ID: {8} unit_name: {'pneumatic'}
ID: {83} unit_name: {'Products'}
ID: {2} unit_name: {'program'}
ID: {104} unit_name: {'PT10'}
ID: {26} unit_name: {'PT1_V4'}
ID: {60} unit_name: {'PTdiff_K2'}
ID: {59} unit_name: {'R1'}
ID: {6} unit_name: {'Reactor'}
ID: {82} unit_name: {'Recipes'}
ID: {51} unit_name: {'RM1'}
ID: {132} unit_name: {'RM10'}
ID: {76} unit_name: {'RM11'}
ID: {33} unit_name: {'RM12'}
ID: {34} unit_name: {'RM13'}
ID: {35} unit_name: {'RM14'}
ID: {36} unit_name: {'RM15'}
ID: {37} unit_name: {'RM16'}
ID: {38} unit_name: {'RM17'}
ID: {100} unit_name: {'RM18'}
ID: {39} unit_name: {'RM19'}
ID: {40} unit_name: {'RM2'}
ID: {108} unit_name: {'RM20'}
ID: {41} unit_name: {'RM21'}
ID: {42} unit_name: {'RM22'}
ID: {43} unit_name: {'RM23'}
ID: {133} unit_name: {'RM24'}
ID: {134} unit_name: {'RM25'}
ID: {135} unit_name: {'RM26'}
ID: {136} unit_name: {'RM27'}
ID: {137} unit_name: {'RM28'}
ID: {30} unit_name: {'RM29'}
ID: {75} unit_name: {'RM3'}
ID: {52} unit_name: {'RM30'}
ID: {138} unit_name: {'RM31'}
ID: {139} unit_name: {'RM32'}
ID: {109} unit_name: {'RM33'}
ID: {140} unit_name: {'RM34'}
ID: {46} unit_name: {'RM35'}
ID: {141} unit_name: {'RM36'}
ID: {142} unit_name: {'RM37'}
ID: {143} unit_name: {'RM38'}
ID: {144} unit_name: {'RM39'}
ID: {47} unit_name: {'RM4'}
ID: {145} unit_name: {'RM40'}
ID: {48} unit_name: {'RM5'}
ID: {31} unit_name: {'RM6'}
ID: {49} unit_name: {'RM7'}
ID: {77} unit_name: {'RM8'}
ID: {146} unit_name: {'RM9'}
ID: {5} unit_name: {'T10'}
ID: {157} unit_name: {'T41'}
ID: {44} unit_name: {'T41A'}
ID: {16} unit_name: {'T42'}
ID: {10} unit_name: {'T42A'}
ID: {28} unit_name: {'T43'}
ID: {45} unit_name: {'T43A'}
ID: {158} unit_name: {'T44'}
ID: {159} unit_name: {'T45'}
ID: {18} unit_name: {'T51'}
ID: {24} unit_name: {'T52'}
ID: {17} unit_name: {'T53'}
ID: {25} unit_name: {'T54'}
ID: {27} unit_name: {'T55'}
ID: {3} unit_name: {'T61'}
ID: {89} unit_name: {'T62'}
ID: {22} unit_name: {'T63'}
ID: {15} unit_name: {'T64'}
ID: {21} unit_name: {'T65'}
ID: {7} unit_name: {'T71'}
ID: {23} unit_name: {'T72'}
ID: {19} unit_name: {'T73'}
ID: {20} unit_name: {'T74'}
ID: {156} unit_name: {'T75'}
ID: {130} unit_name: {'triggers'}
ID: {105} unit_name: {'TT0'}
ID: {86} unit_name: {'V1'}
ID: {72} unit_name: {'V11'}
ID: {55} unit_name: {'V3'}
ID: {70} unit_name: {'V42'}
ID: {93} unit_name: {'V43'}
ID: {107} unit_name: {'V51'}
ID: {102} unit_name: {'V52'}
ID: {85} unit_name: {'V6'}
ID: {80} unit_name: {'V61'}
ID: {91} unit_name: {'V62'}
ID: {99} unit_name: {'V63'}
ID: {103} unit_name: {'V64'}
ID: {90} unit_name: {'V71'}
ID: {87} unit_name: {'V72'}
ID: {32} unit_name: {'V74'}
ID: {73} unit_name: {'V8'}
ID: {106} unit_name: {'waste'}
ID: {4} unit_name: {'water'}

In [223]:
con.commit()

In [231]:
# inserting list of units into DB table : tbl_unit
query = 'INSERT INTO tbl_unit (unit_id, unit_name) VALUES (%s, %s)'
tuples = pd.Series(log_unit)
tuples = [(index+1, value) for index, value in tuples.items()]
tuples

[(1, 'FPC11_FPP11'),
 (2, 'FPC14'),
 (3, 'FFU'),
 (4, 'FPC22'),
 (5, 'FPC21_AUT21'),
 (6, 'FPC21'),
 (7, 'FPC23'),
 (8, 'FPC13'),
 (9, 'FPC24'),
 (10, 'FPC31'),
 (11, 'FPC23_FPP23'),
 (12, 'FPC41'),
 (13, 'FPC42'),
 (14, 'FPC11'),
 (15, 'Product'),
 (16, 'FPC21_FPP21'),
 (17, 'FPC13_FPP13'),
 (18, 'FPC24_FPP24'),
 (19, 'FFP_FFP'),
 (20, 'FPC31_FPP31'),
 (21, 'FPC22_FPP22'),
 (22, 'FPC12'),
 (23, 'FPP11'),
 (24, 'FPC14_FPP14'),
 (25, 'FPP21'),
 (26, 'FPP13'),
 (27, 'FPP14'),
 (28, 'FPP'),
 (29, 'FPC12_FPP'),
 (30, 'FPP31'),
 (31, 'FFP_AUTFU'),
 (32, 'FPC13_AUT13'),
 (33, 'FPC22_AUT22'),
 (34, 'FPC11_AUT11'),
 (35, 'FPC12_AUT'),
 (36, 'FPC31_AUT31'),
 (37, 'FPC24_AUT24'),
 (38, 'FPC23_AUT23'),
 (39, 'scheduler'),
 (40, 'FPC14_AUT14')]

In [232]:
cur.executemany(query, tuples)
con.commit()

In [224]:
con.close()